.tour {
  background-image: url("https://res.cloudinary.com/manuelentrena/image/upload/v1611159981/PiedraDropa2021/tour_hbpn4m.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  padding: 14rem;
}

@media (max-width: 768px) {
  .tour {
    padding: 8rem 2rem;
  }
}

.tour-layout {
  background-color: rgba(206, 207, 208, 0.1);
  height: auto;
  text-align: center;
  padding: 3.6rem;
}

.tour h1 {
  color: #ffffff;
  padding: 0;
  font: bold 4.5rem Kodchasan-Bold;
}

@media (max-width: 768px) {
  .tour-layout {
    padding: 1rem;
  }
  .tour h1 {
    font-size: 2.4rem;
  }
}
